.hd .tunic.active-1 { background-image: url(images/themes/hd/items/tunic1.png); }
.hd .tunic.active-2 { background-image: url(images/themes/hd/items/tunic2.png); }
.hd .tunic.active-3 { background-image: url(images/themes/hd/items/tunic3.png); }
.hd .tunic.active-1.bunny { background-image: url(images/themes/hd/items/tunicbunny1.png); }
.hd .tunic.active-2.bunny { background-image: url(images/themes/hd/items/tunicbunny2.png); }
.hd .tunic.active-3.bunny { background-image: url(images/themes/hd/items/tunicbunny3.png); }
.hd .sword.active-1 { background-image: url(images/themes/hd/items/sword1.png); }
.hd .sword.active-2 { background-image: url(images/themes/hd/items/sword2.png); }
.hd .sword.active-3 { background-image: url(images/themes/hd/items/sword3.png); }
.hd .sword.active-4 { background-image: url(images/themes/hd/items/sword4.png); }
.hd .shield.active-1 { background-image: url(images/themes/hd/items/shield1.png); }
.hd .shield.active-2 { background-image: url(images/themes/hd/items/shield2.png); }
.hd .shield.active-3 { background-image: url(images/themes/hd/items/shield3.png); }
.hd .moonpearl { background-image: url(images/themes/hd/items/moonpearl.png); }
.hd .bow { background-image: url(images/themes/hd/items/bow0.png); }
.hd .bow.active-1 { background-image: url(images/themes/hd/items/bow1.png); }
.hd .bow.active-2 { background-image: url(images/themes/hd/items/bow2.png); }
.hd .bow.active-3 { background-image: url(images/themes/hd/items/bow3.png); }
.hd .boomerang { background-image: url(images/themes/hd/items/boomerang1.png); }
.hd .boomerang.active-2 { background-image: url(images/themes/hd/items/boomerang2.png); }
.hd .boomerang.active-3 { background-image: url(images/themes/hd/items/boomerang3.png); }
.hd .hookshot { background-image: url(images/themes/hd/items/hookshot.png); }
.hd .mushroom { background-image: url(images/themes/hd/items/mushroom.png); }
.hd .powder { background-image: url(images/themes/hd/items/powder.png); }
.hd .firerod { background-image: url(images/themes/hd/items/firerod.png); }
.hd .icerod { background-image: url(images/themes/hd/items/icerod.png); }
.hd .bombos { background-image: url(images/themes/hd/items/bombos.png); }
.hd .ether { background-image: url(images/themes/hd/items/ether.png); }
.hd .quake { background-image: url(images/themes/hd/items/quake.png); }
.hd .lantern { background-image: url(images/themes/hd/items/lantern.png); }
.hd .hammer { background-image: url(images/themes/hd/items/hammer.png); }
.hd .shovel { background-image: url(images/themes/hd/items/shovel.png); }
.hd .net { background-image: url(images/themes/hd/items/net.png); }
.hd .book { background-image: url(images/themes/hd/items/book.png); }
.hd .bottle { background-image: url(images/themes/hd/items/bottle0.png); }
.hd .bottle.active-1 { background-image: url(images/themes/hd/items/bottle1.png); }
.hd .bottle.active-2 { background-image: url(images/themes/hd/items/bottle2.png); }
.hd .bottle.active-3 { background-image: url(images/themes/hd/items/bottle3.png); }
.hd .bottle.active-4 { background-image: url(images/themes/hd/items/bottle4.png); }
.hd .somaria { background-image: url(images/themes/hd/items/somaria.png); }
.hd .byrna { background-image: url(images/themes/hd/items/byrna.png); }
.hd .cape { background-image: url(images/themes/hd/items/cape.png); }
.hd .mirror { background-image: url(images/themes/hd/items/mirror.png); }
.hd .boots { background-image: url(images/themes/hd/items/boots.png); }
.hd .glove { background-image: url(images/themes/hd/items/glove1.png); }
.hd .glove.active-2 { background-image: url(images/themes/hd/items/glove2.png); }
.hd .flippers { background-image: url(images/themes/hd/items/flippers.png); }
.hd .flute { background-image: url(images/themes/hd/items/flute.png); }
.hd .agahnim { background-image:url(images/themes/hd/dungeons/agahnim0.png); }
.hd .agahnim.active { background-image:url(images/themes/hd/dungeons/agahnim1.png); }
.hd .boss.eastern { background-image: url(images/themes/hd/dungeons/boss0.png); }
.hd .boss.desert { background-image: url(images/themes/hd/dungeons/boss1.png); }
.hd .boss.hera { background-image: url(images/themes/hd/dungeons/boss2.png); }
.hd .boss.darkness { background-image: url(images/themes/hd/dungeons/boss3.png); }
.hd .boss.swamp { background-image: url(images/themes/hd/dungeons/boss4.png); }
.hd .boss.skull { background-image: url(images/themes/hd/dungeons/boss5.png); }
.hd .boss.thieves { background-image: url(images/themes/hd/dungeons/boss6.png); }
.hd .boss.ice { background-image: url(images/themes/hd/dungeons/boss7.png); }
.hd .boss.mire { background-image: url(images/themes/hd/dungeons/boss8.png); }
.hd .boss.turtle { background-image: url(images/themes/hd/dungeons/boss9.png); }
.hd .prize-0 { background-image: url(images/themes/hd/dungeons/prize0.png); }
.hd .prize-1 { background-image: url(images/themes/hd/dungeons/prize1.png); }
.hd .prize-2 { background-image: url(images/themes/hd/dungeons/prize2.png); }
.hd .prize-3 { background-image: url(images/themes/hd/dungeons/prize3.png); }
.hd .prize-4 { background-image: url(images/themes/hd/dungeons/prize4.png); }
.hd .medallion-0 { background-image: url(images/themes/hd/dungeons/medallion0.png); }
.hd .medallion-1 { background-image: url(images/themes/hd/dungeons/medallion1.png); }
.hd .medallion-2 { background-image: url(images/themes/hd/dungeons/medallion2.png); }
.hd .medallion-3 { background-image: url(images/themes/hd/dungeons/medallion3.png); }
.hd .chest-0 { background-image: url(images/themes/hd/dungeons/chest0.png); }
.hd .chest-1 { background-image: url(images/themes/hd/dungeons/chest1.png); }
.hd .chest-2 { background-image: url(images/themes/hd/dungeons/chest2.png); }
.hd .chest-3 { background-image: url(images/themes/hd/dungeons/chest3.png); }
.hd .chest-4 { background-image: url(images/themes/hd/dungeons/chest4.png); }
.hd .chest-5 { background-image: url(images/themes/hd/dungeons/chest5.png); }
.hd .chest-6 { background-image: url(images/themes/hd/dungeons/chest6.png); }

.hd .bomb { background-image: url(images/themes/hd/overlay/bomb.png); }
.hd .crystal { background-image: url(images/themes/hd/overlay/crystal.png); }
.hd .pendant-0 { background-image: url(images/themes/hd/overlay/pendant0.png); }
.hd .pendant-1 { background-image: url(images/themes/hd/overlay/pendant1.png); }
.hd .pendant-2 { background-image: url(images/themes/hd/overlay/pendant2.png); }
